.div{
    border: 2px solid grey;
    height: 260px;
    width: 200px;
    padding: 10px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.322);
}
img{
    height: 100px;
    width: 200px;
    margin: 0;
}
.p{
    margin: 0;
}
.h3{
    margin: 5px;
    text-align: center;
    
}

/* ------------------ */
